.area {
  width: 1000px;
  margin: 0 auto;
}

table {
  border: solid 1px #000;
  width: 100%;
}

th {
  font-weight: bold;
  border: solid 1px #000;
}


td {
  text-align: center;
  border: solid 1px #000;
}
